:root {
  --light-green: #abc4ab;
  --light-brown: #a39171;
  --tan: #dcc9b6;
  --dark-green: #727d71;
  --brown: #6d4c3d;
  --white: #ffffff;
  --black: #000000;
}

*{
    margin: 0;
    padding: 0;
}

.card {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
  width: 45%;
  height: 100%;
}

.login-card {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.card h2 {
  color: var(--brown);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card-body {
  background-color: var(--tan);
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  margin: 10px;
  padding: 10px;
}

.box {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.flexBox {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallDiv {
  width: 10%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.flexBox div {
  color: var(--brown);
}

.button {
  background-color: var(--light-brown);
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  color: var(--white);
  margin: 10px;
  padding: 10px;
}

.signup-form-input {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
}

.post-form{
    display: flex;
    flex-direction: column;
    background-color: var(--light-green);
    margin-top: 45px;
}

.nav-fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--brown);
  width: 100px;
}

.nav-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-green);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.nav-form li{
    margin-top: 35px;
}

.post-container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-character-counter{
  margin: 10px 10px 10px 36.453px;
}

.post-form-title{
  font-size: 24px;
  margin-top: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  resize: none;
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  height: 100px;
  background-color: var(--light-green);
  margin: auto;
  width: 95%;
}

.character-counter {
  margin: 15px 15px 15px 18.953px;
}

.comment-form-container {
  margin-top: 25px;
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  max-width: 1000px;
  width: 100%;
}

.submit-button{
    margin: 10px;
    align-self: center;
    background-color: var(--tan);
    border-width: 1px;
}

.submit-button:hover{
    color:  var(--white);
    box-shadow: 0 5px 15px var(--light-brown);
}

.submit-button p{
    margin: 5px;
}

.hh-h1{
    color: var(--light-green);
    text-decoration: none; 
}

.hh-h1:hover{
    color: var(--black);
}

.comment-card {
  margin-top: 25px;
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
}

.inside-comment-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-form-container{
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 1500px;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.post-form-inside{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--brown);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--brown);
    width: 100%;
}

.post-form-inside h3{
    align-self: center;
}

.post-desc{
    resize: none;
    border: 1px solid var(--brown);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--brown);
    height: 100px;
    background-color: var(--tan);
    margin: 10px 10px 10px 15px;
    width: 95%;
}

.submit-button-container{
    display: flex;
    flex-direction: column;
}

.character-count{
    margin-left: 15px;
}

.log-in-message{
    align-self: center;
    margin: 15px;
    font-size: 32px;
}

.login-link-text{
    text-decoration: none;
    color: var(--brown);
}

.login-link-text:hover{
    color: var(--white);
}

.home-container {
  display: flex;
  /* flex: auto; */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}

.post {
  flex: 1 1 auto; /* grow | shrink | basis */

  margin: 2%;
  max-width: 30%;
  max-height: fit-content;
}

.main-div {
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--brown);
}

.description {
  font-size: larger;
  margin: 5px 5px 5px 0px;
}

.profile-name{
  color: var(--black);
  text-decoration: none;
}

.profile-name:hover{
  color: var(--white);
}

.outlet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: 100px;
}

.comments-likes-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 5px 5px 5px;
}

.viewingMessage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.post-list-title{
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 15px;
}

.single-post-card{
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  padding: 10px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.cricket{
  font-size: 32px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.card-header{
  margin: 10px;
  font-size: 20px;
}

.comment-list-header{
  margin-top: 50px;
  font-size: 32px;
}

.dropdown-menu {
  position: relative;
  float: right;
  padding: 0px 60px 0px 60px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -7px;
  left: 110px;
  background-color: var(--brown);
  padding: 5px;
  color:var(--light-green);
}

.dropdown-menu:hover .dropdown-content{
  display: block;
}

.tooltipnav {
  position: relative;
  display: inline-block;
}

.tooltipnavtext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;

  /* Positioning the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltipnav:hover .tooltipnavtext {
  visibility: visible;
}