:root {
    --light-green: #ABC4AB;
    --light-brown: #A39171;
    --tan: #DCC9B6;
    --dark-green: #727D71;
    --brown: #6D4C3D;
    --white: #FFFFFF;
    --black: #000000;
}

.card {
    background-color: var(--white);
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark-green);
    margin: 10px;
    padding: 10px;
}

.card-header {
    background-color: var(--light-brown);
    border: 1px solid var(--brown);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--brown);
    margin: 10px;
    padding: 10px;
}

.card-body {
    background-color: var(--tan);
    border: 1px solid var(--brown);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--brown);
    margin: 10px;
    padding: 10px;
}

.box {
    background-color: var(--light-green);
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark-green);
    margin: 10px;
    padding: 10px;
}

.button {
    background-color: var(--light-brown);
    border: 1px solid var(--brown);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--brown);
    color: var(--white);
    margin: 10px;
    padding: 10px;
}

.form-input {
    background-color: var(--light-green);
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--dark-green);
    margin: 10px;
    padding: 10px;
}