:root {
  --light-green: #abc4ab;
  --light-brown: #a39171;
  --tan: #dcc9b6;
  --dark-green: #727d71;
  --brown: #6d4c3d;
  --white: #ffffff;
  --black: #000000;
}

.card {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
  width: 25%;
  height: 100%;
}

.login-card {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.card h2 {
  color: var(--brown);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card-body {
  background-color: var(--tan);
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  margin: 10px;
  padding: 10px;
}

.box {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.flexBox {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15%;
}

.flexBox div {
  color: var(--brown);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallDiv {
  width: 10%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.flexBox div {
  color: var(--brown);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallDiv {
  width: 10%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  background-color: var(--light-brown);
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  color: var(--white);
  margin: 10px;
  padding: 10px;
}

.signup-form-input {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-green);
  margin: 10px;
  padding: 10px;
}

.post-form {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
}

.nav-fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--brown);
  width: 100px;
}

.nav-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-green);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.post-form {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
}

.nav-fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--brown);
  width: 100px;
}

.nav-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-green);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.post-form {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
}

.nav-fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--brown);
  width: 100px;
}

.nav-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-green);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.post-container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form-input {
  display: flex;
  flex-direction: column;
  resize: none;
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
  height: 100px;
  background-color: var(--light-green);
  margin: auto;
  width: 95%;
}

.character-counter {
  margin: 15px 15px 15px 18.953px;
}

.comment-form-container {
  margin-top: 25px;
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
}

.submit-button {
  margin: 15px 15px 15px 18.953px;
}

.hh-h1 {
  color: var(--light-green);
}

.comment-card {
  margin-top: 25px;
  border: 1px solid var(--brown);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--brown);
}

.inside-comment-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-fontawsome {
  size: 50px;
}

.container {
  display: flex;
}

.home-container {
  display: flex;
  /* flex: auto; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
}

.post {
  flex: 1 1 auto; /* grow | shrink | basis */

  margin: 2%;
  max-width: 30%;
  max-height: fit-content;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: purple; */
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--brown);
}

.description {
  font-size: larger;
}
